@model ClassWebApplication.Models.Course
@using System.Linq
@{
    ViewData["Title"] = "Додати";
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript" ></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css"/>
    <script type="text/javascript">
    $(function () {
        $('#lectorAutocomplete').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Courses/GetLectorAutocompleteData',
                    type: 'POST',
                    data: {"prefix": request.term},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }));
                    },
                    error: function (response) { 
                        alert(response.responseText)
                    },
                    failure: function (response) {
                        alert(response.responseText)
                    }
                });
            },
            select: function (e, i) { 
                $("#hfxAutocomplete").val(i.item.val);
            },
            minLength: 3,

        });
    });
    </script>

<h1>Додати</h1>

<h4>курс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialLink" class="control-label"></label>
                <input asp-for="MaterialLink" class="form-control" />
                <span asp-validation-for="MaterialLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="file">Завантажити матеріали на диск</label>
                <input type="file" id="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LectorCourses" class="control-label">Лектори</label>
                <input type="text" id="lectorAutocomplete" class="form-control" placeholder="Start typing to select a lector" />
                <input type="hidden" asp-for="LectorCourses" id="hfxAutocomplete" />
                @ViewBag.Message
                <span asp-validation-for="LectorCourses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
