@model ClassWebApplication.Models.Course
@using System.Linq
@{
    ViewData["Title"] = "Додати";
}

<h1>Додати</h1>

<h4>курс</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaterialLink" class="control-label"></label>
                <input asp-for="MaterialLink" class="form-control" />
                <span asp-validation-for="MaterialLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LectorCourses" class="control-label">Лектори</label>
                <select asp-for="LectorCourses" asp-items="@(new SelectList(ViewBag.Lectors, "Id", "FullName"))" class="form-control" multiple>
                    <option disabled selected>-- Виберіть лектора --</option>
                </select>
                <span asp-validation-for="LectorCourses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
