@{
    ViewData["Title"] = "Політика приватності";
}
<h1>@ViewData["Title"]</h1>

<p>Веб-сайт жодним чином не використовує приватні дані користувачів, всі назви та імена в таблицях є вигаданими та не мають зв'язку з реальністю</p>
